@font-face{font-family:ButterCup;
src:url(ButterCup.otf);}

@font-face{font-family:Aesthetic-Regular;
src:url(Aesthetic-Regular.ttf);}

@font-face{font-family:UnitedKings_PERSONAL_USE_ONLY;
src:url(UnitedKings_PERSONAL_USE_ONLY.otf);}

body {
    background: #1a0321;
}

h1{
    background-image: radial-gradient(circle at top center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 800%);
    color:white;
    font-size:120px;
    font-family:UnitedKings_PERSONAL_USE_ONLY;
    text-align:center;
    border:5px ;
    border-radius: 12px;
    padding: 20px;
    }


h2{ 
    font-family: "Latin Modern Roman";
    font-size:40px;
    padding: 1px;
    margin:100px,50px,20px,100px;
    color:white;
    width:300px;
    height:150px;
    border:5px solid #a945c7;
    text-align: center;

}
p{
    font-family: 'georgia', serif;
    font-size:16px;
    padding: 5px;
    margin:20px;
    color:white;

}
.ejemplo{
    font-family: 'georgia', serif;
    font-size:45px;
    padding: 5px;
    margin:20px;
    color:white;
}
.container{
    max-width:800px;
    margin:auto;
    padding:20px;

}
.row{
    display:flex;
    flex-wrap:wrap;
    margin:10px;
}
.column{
    flex:1;
    padding:10px;
}
@media(max-width: 600px){
    .column{
        flex:100%;
    }
}
button {
    background: #1a0321; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espacio interno */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 4px; /* Esquinas redondeadas */
    font-size: 16px; /* Tamaño de fuente */
}

button:hover {
    background:#a945c7;
    box-shadow:0 0 10px #a945c7,0 0 40px #a945c7, 0 0 80px #a945c7;
}

header {
    background-color: #333;
    color:red;
    text-align: center;
    padding: 20px;
}
nav ul{
    list-style:none;
    margin:0;
    padding: 0;
}
nav li{
    display:inline-block;
    margin-right: 20px;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 5px;

}
nav a:hover{
    color:#1bf7de;
}

@media(max-width:767px){
    header{
        background-color: green;
    }
}
@media(max-width:767px){
    nav{
        font-size:10px;
    }
}
@media(max-width:100px){
    header{
        width:1200px;
    }
}


